/*
    This file is part of Bromite.

    Bromite is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Bromite is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Bromite. If not, see <https://www.gnu.org/licenses/>.

*/

{DESCRIPTION}

package org.chromium.components.browser_ui.site_settings;

import org.chromium.components.browser_ui.site_settings.SiteSettingsCategory;
import org.chromium.components.browser_ui.site_settings.BromiteCustomContentSetting;

import java.util.ArrayList;

{IMPORT_CLAUSE}

public class BromiteCustomContentSettingImplBase {{

    static protected final ArrayList<BromiteCustomContentSetting> mItemList;

    private static void add(BromiteCustomContentSetting setting) {{
        setting.setSiteSettingsCategory(NUM_ENTRIES());
        mItemList.add(setting);
    }}

    protected static int NUM_ENTRIES() {{
        return SiteSettingsCategory.Type.NUM_ENTRIES_CHROMIUM + mItemList.size();
    }}

    static {{
        mItemList = new ArrayList<BromiteCustomContentSetting>();
{ADD_CLAUSE}
    }}

}}
