/*
    This file is part of Cromite.

    Cromite is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Cromite is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Cromite. If not, see <https://www.gnu.org/licenses/>.

*/

{DESCRIPTION}

package org.chromium.chrome.browser.flags.cromite;

import java.util.ArrayList;
import java.util.List;

import org.chromium.components.cached_flags.CachedFlag;

{IMPORT_CLAUSE}

public class CromiteCachedFlagImplBase {{

    static protected final ArrayList<CachedFlag> mItemList;

    private static void add(CachedFlag flag) {{
        mItemList.add(flag);
    }}

    public static List<CachedFlag> getList() {{
        return mItemList;
    }}

    static {{
        mItemList = new ArrayList<CachedFlag>();
{ADD_CLAUSE}
    }}

}}
